#wp-user-dashboard-tabs,
  .tabs_list{
	font-size: 0px;
	background: #f1f1f1;
	/*box-shadow: 0px 0px 1px 0px;*/
}
.tabs_list{
	margin-top: 25px;
}
#wp-user-dashboard-tabs h3,
 .tabs_list span{
	display: inline-block;

	font: 16px "Comic Sans Ms Bold";
	background-color: transparent;
	padding: 20px;
	border: 2px solid #ddd;
	border-bottom: 0px;

	margin: 0px;
	color: #414141;

	cursor: pointer;
}
#wp-user-dashboard-tabs h3.active,
 .tabs_list span.active{
	background-color: #fff;
}
#your-profile > .form-table,
 .tabs_cont > div{
	display: none;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;

	border: 2px solid #ddd;
	margin-top: -2px;
}
.tabs_cont > div:first-child{
	display: block;
}

#your-profile p {
	margin: 0px;
}