#your-profile > .form-table, #your-profile > h3{
	display: none;
}
#your-profile p {
	margin: 0px;
}

.tabs_list{
	margin-top: 25px;
}
.tabs_list span{
	display: inline-block;

	font: 16px "Comic Sans Ms Bold";
	background-color: transparent;
	padding: 20px;
	border: 2px solid #ddd;
	border-bottom: 0px;

	margin: 0px;
	color: #414141;

	cursor: pointer;
}
.tabs_list span.active{
	background-color: #fff;
}
.tabs_cont > div{
	display: none;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;

	border: 2px solid #ddd;
	margin-top: -2px;
}
.tabs_cont > div:first-child{
	display: block;
}